@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

:root {


  --color-text: #1a2e28;
  --color-background: #f2f8f6;
  --color-primary: #3db88a;
  --color-secondary: #a97bc7;
  --color-accent: #c9527a;
  --color-pill: #ffffff;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* --color-text: #011d16;
  --color-background: #ecfef8;
  --color-primary: #17f3b5;
  --color-secondary: #d282f9;
  --color-accent: #f544bd; */

  --color-text: var(--color-text);
  --color-background: var(--color-background);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-pill: var(--color-pill);

  --color-text-dark: #e1fef7;
  --color-background-dark: #01130d;
  --color-primary-dark: #0ce9aa;
  --color-secondary-dark: #56067f;
  --color-accent-dark: #bd0a84;

  --font-syne: var(--font-syne-sans);
  --font-inc-sans: var(--font-inclusive-sans);
  --font-inter: var(--font-inter);

  /* --color-text: #f0f4f4;
  --color-background: #060909;
  --color-primary: #acc5c3;
  --color-secondary: #474360;
  --color-accent: #9a82a8; */
}

.dark {
  --color-text: #1a2e28;
  --color-background: #f2f8f6;
  --color-primary: #3db88a;
  --color-secondary: #a97bc7;
  --color-accent: #c9527a;
  --color-pill: #ffffff;
}
